{block content}
<h2>Invoice-pdf</h2>
<p>
Aplikace slouží k vedení evidence objednávek a produktů. Správce aplikace vytváří objednávky pro uživatele, kteří se k nim mohou následně přihlásit formou registrace účtu, stornovat objednávku nebo si nechat zaslat fakturu ve formátu pdf na e-mail.
</p>