{block content}

<form n:name=editProductForm class=form>
    <p><label n:name=title>Název:</label> <br /> <input n:name=title size=30>
    <p><label n:name=description>Popis:</label> <br /><textarea n:name=description rows="4" cols="50"> </textarea>
    <p><input n:name=send class="btn btn-secondary btn-lg">
    <input type="hidden" name="productId">
</form>
