{block content}
<!--<div id="banner">
	<h1 n:block=title>Invoice-PDF</h1>
</div>

<div id="content">


	<h2>Všechny objednávky</h2>

	<table>
     {foreach $posts as $post}
    <tr class="post">
        

        <td>{$post->Email}</td>

        <td>{$post->Title}</td>
		<td class="date">{$post->InsertTime|date:'F j, Y'}</td>
		<td class="detail"><a href="/www/order/detail={$post->Id}">Detail objednávky</a></td>
    </tr>
    {/foreach}
	</table>

</div>-->

{/block}