parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\Authenticator
	cacheStorage: 
	             factory: Nette\Caching\Storages\DevNullStorage

database:
	dsn: 'mysql:host=localhost;dbname=mryv00'
	user: 'mryv00'
	password: 'R_*W|`-mJTunLYe)9"'  